body {
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

button {
    padding: 10px 20px;
    margin: 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

body.dark-theme {
    background-color: #333;
    color: #fff;
}

body.dark-theme button {
    background-color: #f39c12;
}
